.border, .board, .death {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

h1, h2, p {
  font-family: 'Press Start 2P', serif;
  color: white;
  text-align: center;
}

hr {
  width: 200px;
}

h2 {
  margin: 20px 0 0 0;
}

input {
  display: block;
  margin: 0 auto;
}

.buttons > p:hover {
  color: yellow;
}

.jar {
  margin: 250px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.playername {
  display: inline-block;
  float: left;
  margin: 2px 0;
}

.playerscore {
  display: inline-block;
  float: right;
  margin: 2px 0;
}

.scores {
  width: 300px;
  height: 250px;
  margin: 0;
}

.scores > div {
  display: inline-block;
  width: 140px;
  height: 200px;
  margin: 0 5px;
}

.scores p {
  font-size: 12px;
}

.buttons {
  display: block;
  width: 300px;
  height: 60px;
  margin: 90px 0 70px 0;
}

.death {
  background: rgb(50,50,50);
}

.container {
  width: 360px;
  height: 660px;
  display: block;
  margin: 0 auto;
}

.screen{
  position: absolute;
  width: 300px;
  height: 600px;
  margin: 30px;
}

.border {
  background: gray;
}

.board {
  background: black;
}

.object {
  background: blue;
  box-sizing: border-box;
  border: 1px solid black;
}

div.landscape {
  background: orange;
  box-sizing: border-box;
  border: 1px solid black;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.landedge {
  /*background: red;*/
}

div.flash {
  background: white;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
}

h3 {
  font-family: 'Press Start 2P', serif;
  color: white;
  margin: 5px;
}

h1 {
  font-size: 40px;
  margin: 90px 0 40px 0;
}

.l1 {
  color: orange;
}

.l2 {
  color: lightblue;
}

.l3 {
  color: green;
}

.l4 {
  color: red;
}

.l5 {
  color: yellow;
}

.l6 {
  color: purple;
}

.object.orange {
  background: orange;
}

.object.blue {
  background: blue;
}

.object.lightblue {
  background: lightblue;
}

.object.yellow {
  background: yellow;
}

.object.red {
  background: red;
}

.object.green {
  background: green;
}

.object.purple {
  background: purple;
}

